<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02-about_flask_app</title>
</head>
<body>
    <h1>about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore commodi, iusto deleniti velit quibusdam eveniet sint aliquam facilis corrupti asperiores nisi! Dolores sunt sint soluta accusamus saepe culpa aliquid optio neque ipsum tempore deleniti magni sed voluptates, illo rem officia explicabo labore earum minima fugit ad doloremque? Rerum adipisci in architecto repellat? Ratione officia, ipsum eius vel similique tenetur provident quaerat quam rerum laudantium, ad, quibusdam ab cumque voluptatem! Deserunt consectetur dolorem facilis molestiae provident doloribus, nemo praesentium. Alias repellat magnam dolores qui consequuntur tenetur fuga nobis. Provident hic repudiandae modi, magnam officia necessitatibus dicta odit autem impedit pariatur repellat.</p>
    <a href="/">index page</a>
</body>
</html>